#/etc/systemd/system/longtail.service
[Unit]
Description=Longtail
After=multi-user.target
StartLimitInterval=0

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/undelete/longtail_bot.py
WorkingDirectory=/var/www/undelete
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

